@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap';

* {
	font-family: Poppins, sans-serif;
}

body {
	font-family: Poppins, sans-serif;
	min-height: 100vh;
	min-width: 100vw;
}

/* remove scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #66666b;
}

.prevent-select { /* Safari */
	user-select: none; /* Firefox */
	user-select: none; /* Opera */
	user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
